In [2]:
import pandas as pd

In [3]:
painel = pd.read_csv('base.csv')

In [4]:
painel

,Unnamed: 0,index,BBDC4,BBDC3,BBAS3,B3SA3,ABEV3,CESP6,BRAP4,BRKM5,...,BBSE3,KLBN11,CVCB3,ENEV3,TIET11,ENGI11,STBP3,MOVI3,RAIL3,AZUL4
0,0,2009-12-09,-0.009209,0.012425,0.011618,0.002313,0.003082,0.001537,0.015624,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2009-12-10,-0.007282,-0.042098,-0.010450,-0.001315,0.000000,0.000000,-0.024002,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2009-12-11,0.000000,0.000000,0.013605,-0.020126,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2009-12-14,0.000000,-0.000104,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2009-12-15,0.010576,-0.009944,-0.000091,0.000000,0.013813,0.008409,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
painel.dtypes

Unnamed: 0      int64
index          object
BBDC4         float64
BBDC3         float64
BBAS3         float64
               ...
ENGI11        float64
STBP3         float64
MOVI3         float64
RAIL3         float64
AZUL4         float64
Length: 94, dtype: object

### Transform datetime

In [9]:
painel['index'] = pd.to_datetime(painel['index'], format='%Y-%m-%d')

In [10]:
painel.dtypes

Unnamed: 0             int64
index         datetime64[ns]
BBDC4                float64
BBDC3                float64
BBAS3                float64
                   ...
ENGI11               float64
STBP3                float64
MOVI3                float64
RAIL3                float64
AZUL4                float64
Length: 94, dtype: object